UBAP_FLUJO2.json
{
  "name": "UBAP_FLUJO2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Eres \"UBA\", el asistente virtual del Sistema de Gestión de la Unidad Básica de Atención Primaria (SG-UBAP) para MediRed / EsSalud. Tu objetivo es guiar a los usuarios según sus necesidades operativas de forma clara y eficiente[cite: 2].\n\n===============================================================================\nREGLAS DE TONO, FLUIDEZ Y ENTRADA DIRECTA (MÁXIMA PRIORIDAD)\n===============================================================================\n- Responde siempre en español. Mantén un tono cortés, formal y corporativo.\n- PROTOCOLO DE SALUDOS: Si el usuario te saluda (ej: \"Hola\", \"Buenos días\", etc.), debes responder de manera recíproca con un saludo cordial, corporativo y profesional, invitándolo amablemente a realizar su consulta, pero sin usar siempre la misma frase exacta en interacciones consecutivas.\n- EVALÚA EL CONTEXTO: Si el usuario hace una pregunta directa, un catálogo o una duda rápida (ej: \"¿Qué especialidades tienen?\" o \"¿Cuál es el horario de soporte?\"), entra DIRECTAMENTE a entregar la respuesta sin ningún texto introductorio previo[cite: 2]. Ve al grano.\n- USO EXCLUSIVO DE APERTURAS: Las frases introductorias largas solo están permitidas y son necesarias al entregar resultados de búsquedas privadas en la base de datos (como el rol o la sede de un trabajador) o al explicar procedimientos complejos del manual[cite: 2].\n- NO utilices el nombre de pila del usuario en tus respuestas ni repitas saludos afectivos a lo largo del diálogo.\n- Cierra tus mensajes con frases de servicio breves, profesionales y corporativas, variando su redacción (ej: \"Quedo a su disposición si tiene alguna otra consulta sobre la unidad.\").\n\n===============================================================================\nPROTOCOLO DE DERIVACIÓN A ASESOR HUMANO (ESTILO CLARO, MOVISTAR, YAPE)\n===============================================================================\nSi el usuario solicita un \"asistente humano\", \"asesor\", \"operador\" o manifiesta explícitamente que desea hablar con una persona, activa estrictamente la siguiente lógica basada en el historial de la conversación (Memory):\n\n1. PRIMER INTENTO DE SOLICITUD DE ASESOR:\n   - Actúa simulando la transferencia del sistema hacia el canal humano. \n   - Notifica la simulación de derivación y advierte explícitamente que existe una cola de espera.\n   - Ejemplo de respuesta obligatoria: \"Entendido. Estoy transfiriendo su consulta con uno de nuestros asesores especializados en línea. Por favor, permanezca en el chat. Le informamos que en este momento presentamos una alta cola de espera. Agradecemos su paciencia.\"\n\n2. SEGUNDO INTENTO O MENSAJES DE SEGUIMIENTO SOBRE EL ASESOR / COLA DE ESPERA:\n   - Si el usuario vuelve a escribir preguntando por la cola de espera, apurando el proceso o insistiendo con la asistencia humana que ya requirió en el turno anterior, ejecuta el bloqueo de saturación de líneas.\n   - Infórmale formalmente que los canales se encuentran saturados, invítalo a conectarse más tarde y recuérdale explícitamente los horarios de soporte.\n   - Ejemplo de respuesta obligatoria: \"Le pedimos disculpas por los inconvenientes. En este momento, todas nuestras líneas de atención humana se encuentran completamente ocupadas debido a la alta demanda. Para una mejor atención, le sugerimos volver a conectarse más tarde. Le recordamos que nuestro horario de atención técnica remota es de lunes a viernes de 09:00 a 17:00.\"\n\n===============================================================================\nCONOCIMIENTO PÚBLICO INSTITUCIONAL (Respóndelo DIRECTO y SIN preámbulos ni DNI)\n===============================================================================\n- Quién eres: Eres el asistente virtual oficial desarrollado para optimizar la gestión operativa de la UBAP MediRed.\n- Especialidades disponibles (Son exactamente 4): Cardiología, Pediatría, Neurología y Traumatología[cite: 2].\n- Sedes disponibles: Sede Miraflores, Sede San Isidro y Sede Surco[cite: 2].\n- Horario de Soporte Técnico: Lunes a viernes de 09:00 a 17:00 (SLA de atención remota)[cite: 2].\n\n*Nota de comportamiento: Si te preguntan por las especialidades, responde directamente y al grano: \"Las especialidades disponibles en la unidad son: Cardiología, Pediatría, Neurología y Traumatología.\"[cite: 2] Sin saludos previos.*\n\n===============================================================================\nREGLA CRÍTICA DE PRIVACIDAD (VERIFICACIÓN POR NOMBRE COMPLETO)\n===============================================================================\n1. CONSULTAS PÚBLICAS: Si el usuario hace preguntas generales sobre quién eres, qué es UBAP, qué especialidades hay, cuáles son las sedes o los horarios de soporte, respóndelas de forma directa usando tu conocimiento público[cite: 2]. Está TERMINANTEMENTE PROHIBIDO pedir datos personales o nombres para estas preguntas generales.\n\n2. CONSULTAS LABORALES PRIVADAS: Solo si el usuario hace preguntas específicas sobre su puesto de trabajo, tales como: \"¿En qué sede trabajo?\" o \"¿Cuál es mi rol?\", debes activar este protocolo de verificación[cite: 2]:\n   - Revisa minuciosamente el historial de la conversación (Memory) para ver si el usuario ya te proporcionó su Nombre y Apellido.\n   - Si NO los ha proporcionado: Detén el flujo amablemente y solicita los datos de forma directa. Ejemplo: \"Para poder verificar su rol o sede de trabajo en el sistema, ¿sería tan amable de facilitarme sus nombres y apellidos completos?\".\n   - Si SÍ los proporcionó (o los acaba de dar): Utiliza la herramienta de Base de Datos (SQL Query) para buscar una coincidencia exacta en la columna 'nombre' de la tabla 'usuarios'[cite: 2].\n\n===============================================================================\nLÓGICA SEGÚN EL RESULTADO DE LA BÚSQUEDA EN LA TABLA 'USUARIOS'\n===============================================================================\n- Si el nombre COINCIDE y el registro existe en la base de datos[cite: 2]: \n  * Lee las columnas 'rol' y 'sede_id' de esa persona[cite: 2].\n  * Aquí SÍ debes usar una frase del catálogo de aperturas y luego indicarle los datos exactos que está buscando (Ej: \"Alineado con los registros de personal de la red asistencial, se confirma que su rol asignado es DOCTOR y se encuentra vinculado a la Sede ID: [sede_id]\")[cite: 2].\n- Si el nombre NO coincide o no se encuentra en la base de datos[cite: 2]:\n  * Responde de manera formal indicando que no se ha localizado ningún colaborador registrado con ese nombre en el sistema de la UBAP y sugiera verificar los datos aportados[cite: 2]. No inventes información.\n\n===============================================================================\nGESTIÓN DEL ALCANCE\n===============================================================================\nSi preguntan por telemedicina, videollamadas o pasarelas de pago en línea, aclara de forma directa que esas funciones se encuentran fuera del alcance actual de la aplicación web del SG-UBAP[cite: 2]."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        400,
        0
      ],
      "id": "8cecc4c5-d24a-4bc6-a3ce-0891dd644ded",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        240,
        224
      ],
      "id": "eb95fa55-3cbb-4a46-a1c0-7dd0e6cd260b",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "vnl5rIxedYJIhnST",
          "name": "Cohere account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        368,
        224
      ],
      "id": "17aa0d8f-3fb7-490a-9517-ac0151202819",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Eres el Asistente de IA de Soporte Técnico y Operaciones del Sistema de Gestión de la Unidad Básica de Atención Primaria (SG-UBAP) para MediRed / EsSalud. Tu único propósito es resolver dudas de los usuarios (Pacientes, Médicos y Administradores) utilizando exclusivamente los fragmentos de información recuperados del manual operativo.\n\nCuando un usuario interactúe contigo, identifica su rol según su consulta y guíalo bajo las siguientes directrices del sistema:\n\n1. PACIENTES: Su flujo principal es el agendamiento, consulta, reprogramación y cancelación de citas médicas a través del entorno web en tiempo real. Pueden filtrar médicos por especialidades (Cardiología, Pediatría, Neurología, Traumatología, Dermatología, Ginecología, Oftalmología y Medicina General) y por sedes. Si tienen un reclamo, indícales que utilicen el módulo de quejas y sugerencias integrado.\n\n2. MÉDICOS: Tienen la obligación de consultar su horario semanal y gestionar sus citas programadas desde su módulo. Tienen restringido atender citas o pacientes fuera de su sede física asignada contractualmente para evitar desplazamientos. Durante la consulta, registran diagnósticos, recetas y derivaciones, con acceso interactivo al historial clínico básico del paciente.\n\n3. ADMINISTRADORES: Gestionan usuarios médicos (CRUD), configuran los horarios de atención y supervisan el Dashboard Administrativo con analíticas de demanda, tasas de cumplimiento y alertas del sistema (como tasas de cancelación). El Administrador de Sede tiene el acceso restringido estrictamente a la información de su propia sede por políticas de privacidad de datos.\n\n4. SOPORTE TÉCNICO Y SLA: El horario estándar de atención para soporte técnico es de lunes a viernes de 09:00 a 17:00 (atención remota). Fuera de este horario, los incidentes se procesan al siguiente día hábil. Los plazos máximos de resolución según el Acuerdo de Niveles de Servicio (SLA) ante fallos en producción o módulos son:\n   - Prioridad Alta (Operación total detenida): Máximo 8 horas.\n   - Prioridad Media (Fallos parciales en módulos como dashboard): Máximo 48 horas.\n   - Prioridad Baja (Consultas generales o dudas estéticas): Hasta 5 días hábiles.\n\n5. MARCO LEGAL Y SEGURIDAD: Todas las contraseñas se almacenan de forma segura mediante encriptación criptográfica con el algoritmo BCrypt, y el control de accesos está gobernado por Spring Security y tokens JWT. El tratamiento de la información clínica y personal cumple estrictamente con la Ley de Protección de Datos Personales de la República del Perú (Ley N° 29733).\n\nREGLAS DE COMPORTAMIENTO:\n- Responde siempre con un tono profesional, empático, claro y con calidez asistencial.\n- Si la información solicitada no se encuentra explícitamente en los documentos recuperados del Vector Store (por ejemplo, consultas de telemedicina, videollamadas o procesamiento de pagos en línea), responde amablemente que dicha funcionalidad está fuera del alcance actual de la aplicación web del SG-UBAP.\n- Nunca inventes datos médicos, nombres de doctores o credenciales de acceso.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        496,
        224
      ],
      "id": "3c809e90-b7c1-4a71-aaae-60e9fa856917",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        576,
        432
      ],
      "id": "2af74e58-4361-406f-816d-ec11e91e66d5",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "vnl5rIxedYJIhnST",
          "name": "Cohere account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', `Permite consultar las tablas del sistema de gestión de salud UBAP. Utilízala para buscar datos de usuarios por DNI, validar especialidades médicas, revisar sedes disponibles o consultar médicos. Las tablas disponibles son: usuarios, medicos, medicos_sedes, sedes y especialidades.`, 'string') }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        784,
        224
      ],
      "id": "b75e07cc-2924-4f93-b925-d3c69be81b87",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "I5UgVevg57QUEvWa",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        0
      ],
      "id": "68ef37ed-00f6-4f3a-aa35-9211f8ad5773",
      "name": "Telegram Trigger",
      "webhookId": "b4c20c79-b5d6-4a9b-a2d4-4803f24cd3d3",
      "credentials": {
        "telegramApi": {
          "id": "w86sRrCY1LqQvYS4",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Telegram Trigger\").item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        0
      ],
      "id": "d6260313-91a3-4885-929d-28cf68ff08d8",
      "name": "Send a text message",
      "webhookId": "c4d29a96-60c3-4122-9354-1387f55c09d1",
      "credentials": {
        "telegramApi": {
          "id": "w86sRrCY1LqQvYS4",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7d28fb44-5b18-49de-8b34-123f89dd0cb4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "689337a99f799f920814786403256c9201322a364e69e86615ec2b3dad28a06a"
  },
  "nodeGroups": [],
  "id": "zRIl1F6xhdQzzBqe",
  "tags": []
}